*.iml
.gradle
/local.properties
*.idea*
.DS_Store
/build
/captures
.externalNativeBuild

# Package Files #
*.jar
*.war
*.ear


*/target
/bin


*.log.*
*.log
/.classpath
/.project
.settings/


*.project


*.class
/*/.classpath